:root{
    --success-color:#2ecc71;
    --error-color:#e74c3c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9fafb;
    font-family: Arial, Helve;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
    width: 400px;
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input{
    width: 100%;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
    display: block;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus{
    border-color: #777;
    outline: 0;
}

.form-control.success input{
    border-color: var(--success-color);
}

.form-control.error input{
    border-color:  var(--error-color);
}

.form-control small{
    color:var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}