*{
    box-sizing: border-box;
}

body{
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.movie-container{
    margin: 20px 0;
}

.movie-container select{
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px;
    /* 清除select原生样式 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.seat{
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-radius: 10px 10px 0 0;
}

.seat.selected{
    background-color: #6feaf6;
}

.seat.occupied{
    background-color: #fff;
}

.seat:nth-of-type(2){
    margin-right: 18px;
}

.seat:nth-last-of-type(2){
    margin-left: 18px;
}

.container .seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.showcase{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small{
    margin-left: 2px;
}

.container{
    /* 3D 元素距视图的距离，以像素计 */
    perspective: 1000px;

    margin-bottom: 30px;
}

.screen{
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
}

.row{
    display: flex;
}

.text{
    margin: 5px 0;
}

.text span{
    color: #6feaf6;
}